body {
    margin-top: 10%;
    height: device-height;
    width: device-width;
    background-color: grey;
}

.container {
    font-family: 'Arial', sans-serif;
    display:flex;
    justify-content: space-between;
}

button {
    border-radius: 5%;
    border: 1px solid black;
    border-radius: 12px;
    margin: 1%;
    width: 10vw;
    height: 10vh;
    font-size: 24px;
    justify-content: center;
}

#AnswerSection {
    height: 10vh;
    width: 96.5vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
    line-height: 10vh;
    font-size:10vh;
}

#\= {
    background-color: aqua;
}

#RadorDeg {
    width: 24.5vw;
    text-align: space-between;
}